.experience-container{
    width: 100%;
    height: 100%;
    padding: 20% 5%;
    position: relative;
    .title{
        top: 10%;
        left: 10%;
        position: absolute;
        font-size: 15rem;
        color: white;
    }
    .top{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .first{
            width: 30%;
            height: 33%;
            margin-right: 2%;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
        .second{
            position: relative;
            width: 30%;
            height: 33%;
            margin-top: 10%;
            margin-right: 2%;
            overflow: hidden;
            .react-player{
               z-index:0;
               position: absolute;
               width: 100%;
               height: auto;
            }
        }
        .third{
            width: 30%;
            height: 70%;
            margin-top: 20%;
            overflow: hidden;
            img{
                width: auto;
                height: 100%;
            }
        }
        .text{
            width: 50%;
            height: 35%;
            bottom: 10%;
            left: 10%;
            position: absolute;
            color: white;
            text-shadow: black;
            font-size: 1.5rem;
            line-height: 2;
        }
    }
    .middle{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        .left{
            width: 60%;
            height: 100%;
            margin-right: 2%;
            background: red;
        }
        .right{
            width: 30%;
            height: 100%;
            margin-left: 2%;
            margin-top: 10%;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .bottom{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .first{
            width: 30%;
            height: 70%;
            margin-top: 2%;
            margin-right: 2%;
            overflow: hidden;
            img{
                width: auto;
                height: 100%;
            }
        }
        .second{
            width: 30%;
            height: 33%;
            margin-top: 40%;
            margin-right: 2%;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
        .third{
            width: 30%;
            height: 33%;
            margin-top: 30%;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
        .text{
            width: 50%;
            height: 35%;
            top: 6%;
            right: 10%;
            position: absolute;
            color: white;
            text-shadow: black;
            font-size: 1.5rem;
            line-height: 2;
        }
    }
}