.experience-container{
    width: 100%;
    height: 100%;
    padding: 20% 5%;
    position: relative;
    background: black;
    .title{
        width: 50%;
        height: 10%;
        top: 10%;
        left: 10%;
        position: absolute;
        background: black;
    }
    .top{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .first{
            width: 30%;
            height: 33%;
            background: red;
            margin-right: 2%;
        }
        .second{
            width: 30%;
            height: 33%;
            background: blue;
            margin-top: 10%;
            margin-right: 2%;
        }
        .third{
            width: 30%;
            height: 70%;
            margin-top: 20%;
            background: purple;
        }
        .text{
            width: 50%;
            height: 30%;
            bottom: 10%;
            left: 10%;
            position: absolute;
            background: white;
        }
    }
    .middle{
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        .left{
            width: 60%;
            height: 100%;
            margin-right: 2%;
            background: red;
        }
        .right{
            width: 30%;
            height: 100%;
            margin-left: 2%;
            background: blue;
        }
    }
    .bottom{
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .first{
            width: 30%;
            height: 70%;
            margin-top: 2%;
            margin-right: 2%;
            background: purple;
        }
        .second{
            width: 30%;
            height: 33%;
            background: blue;
            margin-top: 40%;
            margin-right: 2%;
        }
        .third{
            width: 30%;
            height: 33%;
            margin-top: 30%;
            //background: pink;
            img{
                width: 100%;
                height: auto;
            }
        }
        .text{
            width: 50%;
            height: 30%;
            top: 6%;
            right: 10%;
            position: absolute;
            background: white;
        }
    }
}