.gallery-container{
    width: 100%;
    height: 100%;
    padding: 15% 5%;
    .title{
        font-size: 15rem;
        color: white;
    }
    .the-swiper{
        height: 90%;
        width: 100%;
        .images{
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }  
        }
    }
}